{% block html_head_meta %}
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="robots" content="">
	<title>{{title}}</title>
{% endblock %}

{% block html_head_css %}
	<link rel="stylesheet" href="{{site.theme.link}}/build/css/styles.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
{% endblock %}

{% block html_head_js %}
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="{{site.theme.link}}/build/js/pace/pace.js"></script>
{% endblock %}

{% block html_head_other %}
	<link rel="apple-touch-icon" sizes="57x57" href="{{site.theme.link}}/app/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{site.theme.link}}/app/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{site.theme.link}}/app/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{site.theme.link}}/app/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{site.theme.link}}/app/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{site.theme.link}}/app/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{site.theme.link}}/app/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{site.theme.link}}/app/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.link}}/app/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{site.theme.link}}/app/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/app/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{site.theme.link}}/app/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.link}}/app/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{site.theme.link}}/app/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	{{function('wp_head')}}
{% endblock %}


{% block html_body_js %}
	<script type="text/javascript" src="https://secure.ryke4peep.com/js/148231.js" ></script>
	<noscript><img src="https://secure.ryke4peep.com/148231.png" style="display:none;" /></noscript>
{% endblock %}
