<div class="christmas__menus__menu {% if active %}active{% endif %}" data-christmas-menu="{{id}}">
	<div class="christmas__menus__menu__inner">
		<div class="christmas__menus__menu__heading">
			<p>{{title}}</p>
		</div>
		
		<div class="christmas__menus__menu__container">
			{# <div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>To Start</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Homemade Guacamole</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With crunchy tortilla chips</p>
					</div>
				</div>
			</div> #}

			{# <div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>TO FOLLOW</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Beef Ropa Vieja</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Slow-cooked shredded beef with charred onions and mixed peppers, in a spicy tomato sauce</p>
					</div>
				</div>
			</div> #}

			<div class="christmas__menus__menu__section" style="-webkit-column-break-inside: auto; -moz-column-break-inside: auto; -o-column-break-inside: auto; -ms-column-break-inside: auto; column-break-inside: auto;">
				{# <div class="christmas__menus__menu__section__title">
					<h5>Served with</h5>
				</div> #}

				<div class="christmas__menus__menu__section__container christmas__menus__menu__section__container--columns">
					<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Homemade Guacamole</strong>
							<ul class="product-menu-item__icons">
								{# <li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	 #}
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With crunchy tortilla chips</p>
					</div>
					<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Beef Ropa Vieja</strong>
							<ul class="product-menu-item__icons">
								{# <li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	 #}
								{# <li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	 #}
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Slow-cooked shredded beef with charred onions and mixed peppers, in a spicy tomato sauce</p>
					</div>
					<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Paella Vegano</strong>
							<ul class="product-menu-item__icons">
								{# <li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	 #}
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>A hearty vegetable paella made with paella rice, tenderstem broccoli, courgette, mushroom and mixed peppers, served with zesty pico de gallo</p>
					</div>
					{# <div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Pork Belly Skewers</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>One for the meat lovers! Pork belly skewers roasted in our signature spicy rum sauce, topped with pico de gallo</p>
					</div> #}
					<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Gambas Pil Pil</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>King prawns tossed in a buttery, chilli &amp; garlic sauce</p>
					</div>
					<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Zesty Rice</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Coriander and lemon rice</p>
					</div>
					{# <div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Albondigas</strong>
						</div>
						<p>Perfectly formed and intensely flavoured. Meatballs made from beef, chorizo and pork, in a rich tomato sauce</p>
					</div> #}
					<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Cajun Cream Mushrooms</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Sautéed mushrooms in a gorgeously rich cajun cream sauce</p>
					</div>
						<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Lambondigas</strong>
							<ul class="product-menu-item__icons">
								{# <li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	 #}
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Lamb meatballs served in a Cuban-style tomato sauce</p>
					</div>
					<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Charred Halloumi &amp; Veg</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Grilled halloumi with butternut squash, courgette and sweet chilli jam</p>
					</div>
					<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Festive Patatas Bravas</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
								{# <li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	 #}
							</ul>
						</div>
						<p>Crispy potatoes with spicy tomato sauce, stuffing balls and aïoli</p>
					</div>
					<div class="christmas__menus__menu__section__item" style="flex: 1 100%; max-width: 100%;">
						<div class="product-menu-item__meta">
							<strong>Crusty Bread</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Served with creole butter</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>