<div class="christmas__menus__menu {% if active %}active{% endif %}" data-christmas-menu="{{id}}">
	<div class="christmas__menus__menu__inner">
		<div class="christmas__menus__menu__heading">
			<p>{{title}}</p>
		</div>
		
		<div class="christmas__menus__menu__container">
			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>Starters</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Tropical Chicken Skewers</strong>
							{# <ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul> #}
						</div>
						<p>Chicken marinated in pineapple &amp; soy served with mango salsa</p>
					</div>
					{# <div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Stuffed Mushroom</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With Manchego and goat’s cheese, breadcrumbs and red onion &amp; cranberry chutney</p>
					</div> #}
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Aubergine Gratin</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With spicy tomato sauce, grated mozzarella, Manchego cheese sauce, spiced black beans and crispy fried onions</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Spicy Paella Bon Bon</strong>
						</div>
						<p>Spicy pork wrapped in paella rice and breadcrumbs, served with baby spinach, aïoli and pickled onions</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Smoky Sweet Potato &amp; Harissa Soup</strong>
							<ul class="product-menu-item__icons">
								{# <li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	 #}
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Garnished with coconut cream and fried onion crisps</p>
					</div>
				</div>
			</div>

			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>Mains</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Short Rib of Beef</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Slow-cooked in a rich rum sauce and served with creole mashed potatoes</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Roasted Chicken Supreme</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Served in a sweet &amp; smoky tomato, zesty paprika &amp; mustard sauce, with creole mashed potatoes</p>
					</div>
					{# <div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Parsnip &amp; Swede Rosti</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Served with baby spinach, smoky tomato salsa, patatas bravas and a brie &amp; cranberry chutney</p>
					</div> #}
					{# <div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Swordfish Steak</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Served with creamy sweet potato &amp; cauliflower gratin, topped with a spicy tomato sauce</p>
					</div> #}
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Baked Sea Bass</strong>
						</div>
						<p>With pickled fennel, pepperonata, chimichurri and sautéed new potatoes</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Mexican Bean Enchilada</strong>
							<ul class="product-menu-item__icons">
								{# <li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li> #}
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Tortilla stuffed with onions, peppers, spiced black beans, mushrooms, canellini beans and baby spinach. Topped with a spicy tomato sauce and served with patatas bravas</p>
					</div>
				</div>
				<p class="christmas__menus__menu__section__tail">All mains served with red onion, courgette, sweet potato and red pepper, all roasted in olive oil and caramelised brown sugar</p>
			</div>

			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>Desserts</h5>
				</div>

				<div class="christmas__menus__menu__section__container christmas__menus__menu__section__container--columns">
					{# <div class="christmas__menus__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Chocolate &amp; Raspberry Slice</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With a chocolate layer and raspberry &amp; prosecco sorbet</p>
					</div> #}
					<div class="christmas__menus__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Baked Vanilla Cheesecake</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With coconut, lime and pineapple 'pina colada' sauce</p>
					</div>
					<div class="christmas__menus__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Warm Chocolate Brownie</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>With caramel sauce and vanilla ice cream</p>
					</div>
					<div class="christmas__menus__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Banana &amp; Lime Eton Mess</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Bananas, whipped cream, crushed meringue and lime</p>
					</div>
					<div class="christmas__menus__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Raspberry Sorbet</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>With strawberry sauce</p>
					</div>
					<div class="christmas__menus__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Vegan Millionaire Slice</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>With raspberry sauce</p>
					</div>
				</div>
				<div class="christmas__menus__menu__section__title">
					<h5>2 Course Option includes a Starter and a Main Dish</h5>
				</div>
			</div>
		</div>
	</div>
</div>