<div class="christmas__menus__menu {% if active %}active{% endif %}" data-christmas-menu="{{id}}">
	<div class="christmas__menus__menu__inner">
		<div class="christmas__menus__menu__heading">
			<p>{{title}}</p>
		</div>
		
		<div class="christmas__menus__menu__container">
			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>Choose from</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Short Rib of Beef</strong>
						</div>
						<p>Slow-cooked in a sticky rum sauce</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Roasted Chicken Supreme</strong>
						</div>
						<p>Cooked in a sweet house rub of zesty paprika and mustard</p>
					</div>
				</div>
			</div>

			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>Add-ons</h5>
				</div>

				<div class="christmas__menus__menu__section__container christmas__menus__menu__section__container--columns">
					<div class="christmas__menus__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Steak Skewer</strong>
						</div>
						<p>Tender slices of beef fillet with charred mixed peppers and red onion, coated in our chilli jam glaze. Charred onion &amp; mixed peppers in a bowl underneath hanging skewers</p>
					</div>
					<div class="christmas__menus__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Chocolate &amp; Raspberry Slice</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Coconut and raspberry bake topped with rich chocolate. Served with a delicate raspberry prosecco sorbet</p>
					</div>
				</div>
			</div>

			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>Served with</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Zesty Rice</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Crusty Breads</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Served with creole and garlic butter</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Chicken Rumba Skewers</strong>
						</div>
						<p>Tender chicken skewers marinated in dark soy sauce, lime and pineapple juice. Topped with crushed chillies and pico de gallo</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Sweetcorn Salsa</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Sweetcorn, red onion, coriander, chilli, lemon</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Roasted Chorizo</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>It’s a tapas classic for a reason. Chorizo glazed in a red wine and honey sauce</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Vegetable Enchiladas</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Mushroom, courgette, onions, mixed peppers, refried beans, smoky salsa and vegan mozzarella, wrapped in a soft flour tortilla with white bean purée and spicy tomato sauce. Topped with pico de gallo, served with black beans and zesty rice</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Cajun Cream Mushrooms</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Sweetcorn, red onion, coriander, chilli, lemon</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Roasted Sweet Potato Salad</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Sweet potato mixed with spinach, corriander, peas &amp; mango, chilli &amp; lime dressing</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Calamari</strong>
						</div>
						<p>Lightly dusted calamari, fried and served with garlic aïoli. A delicate flavour with just enough crunch</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>