<div class="christmas__menus__mobile__menu {% if active %}active{% endif %}" data-christmas-menu="{{id}}">
	<div class="christmas__menus__mobile__menu__collapse"></div>
	
	<div class="christmas__menus__mobile__menu__inner">
		<div class="christmas__menus__mobile__menu__heading">
			<p><strong>{{tabTitle}}</strong></p>

			<p>{{title}}</p>
		</div>
		
		<div class="christmas__menus__mobile__menu__container">
			<div class="christmas__menus__mobile__menu__section">
				<div class="christmas__menus__mobile__menu__section__title">
					<h5>Starters</h5>
				</div>
				<div class="christmas__menus__mobile__menu__section__container">

					<div class="christmas__menus__mobile__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Tropical Chicken Skewers</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With guava glaze, topped with fresh pico de gallo</p>
					</div>
					<div class="christmas__menus__mobile__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Stuffed Mushroom</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With Manchego and goat’s cheese, breadcrumbs and red onion &amp; cranberry chutney</p>
					</div>
					<div class="christmas__menus__mobile__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Spicy Paella Bon Bons</strong>
						</div>
						<p>Spicy pork wrapped in paella rice and breadcrumbs, served with baby spinach, aïoli and pickled onions</p>
					</div>
					<div class="christmas__menus__mobile__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Smoky Sweet Potato Soup</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Sweet potato &amp; Harissa soup, garnished with coconut cream and topped with butternut squash crisps</p>
					</div>
				</div>
			</div>

			<div class="christmas__menus__mobile__menu__section">
				<div class="christmas__menus__mobile__menu__section__title">
					<h5>Mains</h5>
				</div>
				<div class="christmas__menus__mobile__menu__section__container">
					<div class="christmas__menus__mobile__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Short Rib of Beef</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>Slow-cooked in a sticky rum sauce and served with creole mashed potatoes</p>
					</div>
					<div class="christmas__menus__mobile__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Roasted Chicken Supreme</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Served in a sweet, zesty paprika &amp; mustard jus, with creole mashed potatoes and a smoky tomato sauce</p>
					</div>
					<div class="christmas__menus__mobile__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Parsnip &amp; Swede Rosti</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Served with baby spinach, smoky tomato salsa, patatas bravas and a brie &amp; cranberry chutney</p>
					</div>
					<div class="christmas__menus__mobile__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Swordfish Steak</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/gluten_free.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Served with creamy sweet potato &amp; cauliflower gratin, topped with a spicy tomato sauce</p>
					</div>
					<div class="christmas__menus__mobile__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Mexican Bean Enchilada</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>Tortilla stuffed with onions, peppers, spiced black beans, mushrooms, canellini beans and baby spinach. Topped with a spicy tomato sauce and served with patatas bravas</p>
					</div>
				</div>
				<p class="christmas__menus__mobile__menu__section__tail">All mains served with red onion, courgette, sweet potato and red pepper, all roasted in olive oil and caramelised brown sugar</p>
			</div>

			<div class="christmas__menus__mobile__menu__section">
				<div class="christmas__menus__mobile__menu__section__title">
					<h5>Desserts</h5>
				</div>

				<div class="christmas__menus__mobile__menu__section__container christmas__menus__mobile__menu__section__container--columns">

					<div class="christmas__menus__mobile__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Chocolate &amp; Raspberry Slice</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegan.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With a chocolate layer and raspberry &amp; prosecco sorbet</p>
					</div>
					<div class="christmas__menus__mobile__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Baked Vanilla Cheesecake</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>	
							</ul>
						</div>
						<p>With mango and passion fruit</p>
					</div>
					<div class="christmas__menus__mobile__menu__section__item">
						<div class="product-menu-item__meta">
							<strong>Chocolate Brownie</strong>
							<ul class="product-menu-item__icons">
								<li>
									<img src="{{site.theme.link}}/app/img/svg/vegetarian.svg" width="17px" height="17px">
								</li>
							</ul>
						</div>
						<p>With a caramel sauce, vanilla ice cream, fresh strawberry and a sprinkle of basil sugar</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>