{% if link %}<a href="{{link}}"{% else %}<div{% endif %} class="tag {% if theme %}tag--{{theme}}{% endif %} {% if size %}tag--{{size}} {% if price %}tag--price{% endif %}{% endif %} custom--tag--fix">
	{% if flair %}<span class="tag--flair {% if flair_color %}tag--flair--{{flair_color}} {% endif %}">{{flair_text}}</span>{% endif %}{{text}}
{% if link %}</a>{% else %}</div>{% endif %}